.container {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}