.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}